
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-up-big:before { content: '\e802'; } /* '' */
.icon-twitter-1:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-flickr:before { content: '\f16e'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-odnoklassniki:before { content: '\f263'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */